
/* Panneau d'argent en haut */
.MoneyPanel {
    width: 100%;
    background-color: #f39c12;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .MoneyDisplay {
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
  }